<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs hidden-sm">
        Proudly powered by <a href="http://picocms.org/" target="_blank">PICO</a> - A stupidly simple & blazing fast, flat file CMS.
    </div>
    <!-- Default to the left -->
    <strong>PicoAdmin &copy; 2015-2017 <a href="https://www.nightman.info" target="_blank">NightMan</a>.</strong> All rights reserved.
</footer>


</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/js/pnotify.custom.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/js/app.min.js"></script>
<script src="{{ base_url }}/lib/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ base_url }}/lib/pico_admin/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/datepicker/bootstrap-datepicker.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/datepicker/locales/bootstrap-datepicker.ru.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/datatables/dataTables.bootstrap.min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/js/jquery-sortable-min.js"></script>
<script src="{{ base_url }}/lib/pico_admin/assets/js/script.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>


