</section>
</div><!-- /.container -->

<footer id="footer">
    &copy; <a href="http://github.com/barryanders/pico-bootstrap/" target="_blank">Bootstrap 3</a> adapted by <a href="http://github.com/barryanders/" target="_blank">Barry</a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ theme_url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ theme_url }}/assets/js/jquery.lazyload.min.js"></script>
<script src="{{ theme_url }}/assets/js/blocksit.js"></script>
<script src="{{ theme_url }}/assets/swipebox/jquery.swipebox.js"></script>
<script src="{{ theme_url }}/assets/js/script.js"></script>

</body>
</html>
